*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    flex:content;
}

header{
    display:flex;
    justify-content:space-around;
}

header #logo{
    width:20vw;
}

header #logo img{
    width:100%;
}

header #ident{
    width:50vw;
}

header #ident h1{
    font-size:18px;
    text-align:center;
}

header #icon-menu{
    width:20vw;
}

header #icon-menu img{
    width:100%;
}
nav{
position: absolute;
margin-top: 13vh;
background-color: #999;
width:100vw;
}

nav ul li{
list-style: none;
border-bottom: 1px solid black;
font-size:4vw;
padding-top: 5vw;
padding-bottom: 2vw;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size:20px;
    margin-left:2vw;
}

main div h1{
    color:#24477D;
    text-align: center;
    font-size: 4vh;}

main div p{
    color:#126875;
    font-size: 2.9vh;
    border-bottom: #24477D 0.5vh solid;
}

#img-fundo{
    position: absolute;
    z-index:-1;
    opacity: 0.3;
    width: 100vw;
}

main div img {
    float: left;
    height: 20vh;
    width: 30vw;
    padding-left: 3vw;
}


footer h3{
    text-align: center;
    background-color: rgb(156, 156, 156);
    height: 10vw;
    bottom: 0;
    width: 100vw;
    position: fixed;
}
