*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

header{
    display:flex;
    justify-content:space-around;
}

header #logo{
    width:10vw;
}
header #logo img{
    width:100%;
}

header #ident{
    width: 50vw;
    color:#24477d;
}
header #ident h1{
    font-size:4vh;
    -ms-flex-align: center;
    padding-top:3vw;
    padding-left:10vh;
}

#menu li {
   list-style: none;
   padding-top: 3vw;
   padding-right: 3vh ;
   display: inline-block;
}
#menu li a{
    text-decoration: none;
    color: #4d8e97;
    font-size: 2vw;
    margin-top:10vw;
    
}
header nav button{
    border:none;
}

header nav #icon-menu{
display: none;
}
header nav #icon-menu img{
display: none;
}

#textos{
    background-color:white;
}
body main div h1{
    border-top: 0.4vw #c8d1de solid;
    padding-top: 1vw ;
    text-align: center;
    color:#24477d;
    font-size: 4vh;
}
body main div h2{
    padding-top: 2vh;
    padding-left: 2vh;
    text-align: left;
    color:#4d8e97;
    font-size: 4vh;
}
body main div h3{
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 2vh;
    text-align: left;
    color:#4d8e97;
    font-size: 4vh;
    border-bottom: 0.4vw #768cad solid;
}

#Cursos img{
    display: inline-flex;
    justify-content: space-around ;
    padding-top: 4vw;
    padding-left: 20vh;
    width: 23vw;
}

#Cursosp2 img {
    display: inline-flex;
    justify-content:space-around;
    padding-top: 4vw;
    padding-left: 50vh;
    width: 40vw;
}


@media (max-width: 600px){
    header{
        display:flex;
        justify-content:space-around;
    }
    
    header #logo{
        width:20vw;
    }
    header #logo img{
        width:100%;
    }
    
    header #ident{
        width: 40vw;
        color:#24477d;
    }
    header #ident h1{
        font-size:3vh;
        text-align: center;
        padding-top:3vw;
        padding-left:2vh;
    }
    

    #menu li {
        display: none;
    }
    #menu li a{
        text-decoration: none;
        color: #4d8e97;
        font-size: 3vw;
    }
    
    header nav button{
        border: none;
    }
    header nav #icon-menu{ 
        display: flex;
        
    }
    header nav #icon-menu img{
        display: flex;
        width: 20vw;
        height: 10vh;
        background-color: white;
        
    }

    #textos{
        background-color:white;
    }
    body main div h1{
        border-top: 0.4vw #c8d1de solid;
        padding-top: 1vw ;
        text-align: center;
        color:#24477d;
        font-size: 4vh;
    }
    body main div h2{
        padding-top: 2vh;
        padding-left: 2vh;
        text-align: left;
        color:#4d8e97;
        font-size: 4vh;
    }
    body main div h3{
        padding-top: 2vw;
        padding-bottom: 2vw;
        padding-left: 2vh;
        text-align: left;
        color:#4d8e97;
        font-size: 4vh;
        border-bottom: 0.4vw #768cad solid;
    }
    
    #Cursos img{
        display: inline-flex;
        justify-content: space-around ;
        padding-top: 4vw;
        padding-left: 20vh;
        width: 23vw;
    }
    
    #Cursosp2 img {
        display: inline-flex;
        justify-content:space-around;
        padding-top: 4vw;
        padding-left: 50vh;
        width: 40vw;
    }


}